<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contest Details Page</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/utility.css">
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/backbone.js"></script>  
  <script src="{{ STATIC_URL }}js/helper.js"></script>
  <script src="{{ STATIC_URL }}js/accounting.js"></script>
</head>
<body>

    Contest title is {{ contest.title }}
    
    {% for c in contestants %}
    {{ c.contestant.first_name }} {{ c.contestant.last_name }}
        {% for comment in c.comments %}
            {{ comment.comment }}
            points awarded: {{ comment.points_awarded }}
        {% endfor %}
    {% endfor %}

    <script>
      $(function() {
        $('#dialog-form').dialog({
          autoOpen: true,
          height: 500,
          width: 500,
          modal: true,
          buttons: [{
            text: "Submit Comment",
            click: function() {
              //sending comment 
              app.comments.create({
                givenBy: 1,
                givenTo: 2,
                points: $(this).find('#points').val(),
                category: $(this).find('#category').val(),
                text: $(this).find('#text').val()
              })

              $(this).dialog('close');
            }
          }]
        });
      })
  </script>

 <div id="dialog-form" title="Create New Comment!">
    <form>
      <fieldset>
        <select id="category" class="span2">
          <option disabled>Category:</option>
          <option value=1>Communications</option> 
          <option value=2>Code Quality</option> 
          <option value=3>Attitude</option> 
          <option value=4>Others</option> 
        </select>

        <select id="points" class="span2">
          <option disabled>Points:</option>
          <option value=3>3</option> 
          <option value=2>2</option> 
          <option value=1>1</option> 
          <option value=-1>-1</option> 
          <option value=-2>-2</option> 
          <option value=-3>-3</option> 
        </select>
        <br>
        <textarea class='span4' rows=5 placeholder='Enter comments here...' id='text'></textarea>        
      </fieldset>
    </form>
  </div>   

</body>
</html>
