<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contest Page</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/utility.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style-light.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/glyphicons.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/developer.css">
  
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/backbone.js"></script>  
  <script src="{{ STATIC_URL }}js/helper.js"></script>
  <script src="{{ STATIC_URL }}js/accounting.js"></script>
  <script src="{{ STATIC_URL }}js/jtruncate.js"></script>
  <script type="text/javascript">
    categories = {
      1: "Communications",
      2: "Coding Quality",
      3: "Attitude",
      4: "Others"
    };

    //setting values for accounting.formatMoney
    accounting.settings = {
      currency: {
        symbol : "$",   // default currency symbol is '$'
        format: "%s%v", // controls output: %s = symbol, %v = value/number (can be object: see below)
        decimal : ".",  // decimal point separator
        thousand: ",",  // thousands separator
        precision : 0   // decimal places
      },
      number: {
        precision : 0,  // default precision on numbers is 0
        thousand: ",",
        decimal : "."
      }
    }
  </script>
</head>
<body>

    <!-- Main Container Fluid -->
  <div class="container-fluid fixed menu-left">
    
    <!-- Top navbar (note: add class "navbar-hidden" to close the navbar by default) -->
    <div class="navbar main hidden-print">
  
    
        <!-- Sidebar menu & content wrapper -->
    <div id="wrapper">
    
    <!-- Sidebar Menu -->
    <div id="menu" class="hidden-phone hidden-print">
    
      <!-- Brand -->
      <a href="/" class="appbrand">Project CKTang <span>Overview</span></a>
    
      <!-- Scrollable menu wrapper with Maximum height -->
      <div class="slim-scroll" data-scroll-height="800px">
      
      <!-- Sidebar Profile -->
      <span class="profile">
        <p>Welcome <a href="my_account.html?lang=en&amp;layout_type=fixed&amp;menu_position=menu-left&amp;style=style-light"> {{ user.username }} </a></p>
        <a class="img" href="my_account.html?lang=en&amp;layout_type=fixed&amp;menu_position=menu-left&amp;style=style-light"><img src="{{ user.userprofile.profile_image.url }}" alt="Avatar" /></a>
        <span>
          <ul>
            <li><a href="{% url 'main.views.auth_logout' %}" class="glyphicons eject"><i></i>Logout</a></li>
          </ul>
        </span>
      </span>
      <!-- // Sidebar Profile END -->
            
            
            
      </div>
      <!-- // Scrollable Menu wrapper with Maximum Height END -->
      
    </div>
    <!-- // Sidebar Menu END -->
        
    <!-- Content -->
    <div id="content">
      <h2>Project CKTang <span><b>The way</b> to hire startup engineers</span></h2>
      
      <div class="row-fluid" id="header"></div>
      
    <div class='separator-line'></div>


    <div class="row-fluid" id='developersContainer'></div>
    <br>
    <div class="row-fluid center">
      <button class="btn btn-primary" id="award">Award Winner</button>
    </div>
  <br>
  </div>

    <div id="footer" class="hidden-print">      
      <!--  Copyright Line -->
      <div class="copy">&copy; 2013 - <a href="/">Project CKTang</a> - All Rights Reserved. </div>
      <!--  End Copyright Line -->
  
    </div>
    <!-- // Footer END -->
  </div>


  <script type="text/template" id="developer-template">
    <div class="widget widget-activity margin-none" data-toggle="collapse-widget">
      <div class="widget-head">
        <h4 class="heading"><%= capitalizeWords(model.name) %> Score</h4>
      </div>
      <div class="widget-body">
        <div class="innerB">
          insert photo here
          <div class="clearfix"></div>
          <div class="tab-content">
            <div class="tab-pane active" id="filterMessagesTab">
            </div>
          </div>          
        </div>      
      </div>
    </div>
  </script>
  
  <script type="text/template" id="comment-template">
    <span class="glyphicons activity-icon envelope"><i></i></span>
    <span class="ellipsis">
      <%= model.givenByName %>
      <%= model.points > 0 ? "gave" : "took away" %> 
      <%= Math.abs(model.points) %> 
      <%= model.points > 1 ? "points" : "point" %> 
      for <%= categories[model.category] %>. </p>
      <span class="meta glyphicons calendar single"><i></i> on <%= model.dateAdded %> </span>
    </span>
    <div class="clearfix"></div>      

  </script>  

  <script type="text/template" id="header-template">
    <div class="span6">
      <div class="innerAll">
        <div class="separator bottom"></div>
        <div class="glyphicons glyphicon-large shield">
          <i></i>
          <h4>Task Description</h4>
          <p id='task'><%= model.task %><br/></p>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="innerAll">
        <div class="separator bottom"></div>
        <div class="glyphicons glyphicon-large group group-column">
          <i></i>
          <h4>Position and Renumeration</h4>
          <p><b>Position: </b><%= model.position %></p>
          <p><b>Renumeration</b>: <%= accounting.formatMoney(model.freelanceFee) %> (project fee), 
          <%= accounting.formatMoney(model.salary) %> (monthly salary)</p>
        </div>
      </div>
    </div>
  </script>  

 
  <script src="{{ STATIC_URL }}js/models/developer.js"></script>
  <script src="{{ STATIC_URL }}js/models/comment.js"></script>
  <script src="{{ STATIC_URL }}js/models/company.js"></script>

  <script src="{{ STATIC_URL }}js/collections/developers.js"></script>
  <script src="{{ STATIC_URL }}js/collections/comments.js"></script>
  
  <script src="{{ STATIC_URL }}js/views/app.js"></script>
  <script src="{{ STATIC_URL }}js/views/company.js"></script>
  <script src="{{ STATIC_URL }}js/views/developers.js"></script>
  <script src="{{ STATIC_URL }}js/views/comments.js"></script>
  <script>
    $(function() {
      //console.log({{ user.id }})
      //console.log( {{ resource_url }} )

      new app.MainView();
      app.comments = new app.Comments();

      app.developers = new app.Developers();
      new app.DevelopersView({collection: app.developers});    

      $('#award').click( function( event ) {
        console.log($('.developer').length)
        candidatesNames = [$('.developer').eq(0).attr('data-name-id').split(',')[0], 
        $('.developer').eq(1).attr('data-name-id').split(',')[0]];
      
        candidatesIds = [$('.developer').eq(0).attr('data-name-id').split(',')[1], 
        $('.developer').eq(1).attr('data-name-id').split(',')[1]];  
        $('#payDialog, #hireDialog, #final').removeClass('hidden');

        $('#payDialog').dialog({
          autoOpen: false,
          modal: true,
          width: 400,
          buttons: [
          { 
            text: capitalizeWords(candidatesNames[0]), 
            click: function() { 
              $(this).dialog('close');
              $('#hireDialog')
                .text('Do you would want to hire ' + capitalizeWords(candidatesNames[0]) + ' full-time as a ' + app.company.get('position') + '?');
              $('#hireDialog').dialog('open');
            }
          },
          {
            text: capitalizeWords(candidatesNames[1]),
            click: function() {
              $(this).dialog('close');
              $('#hireDialog')
                .text('Do you would want to hire ' + capitalizeWords(candidatesNames[1]) + ' full-time as a ' + app.company.get('position') + '?');        
              $('#hireDialog').dialog('open');
            }
          }]
        });

        $('#hireDialog').dialog({
          autoOpen: false,
          modal: true,
          width: 400,
          dialogClass: 'no-close',
          buttons: [
          { 
            text: "Yes", 
            click: function() { 
              app.company.calculateBill(true);
              $(this).dialog('close');
              $('#final').html(app.company.get('totalBillStatement')).dialog('open');
            }
          },
          {
            text: "No",
            click: function() {
              app.company.calculateBill(false);
              $(this).dialog('close');
              $('#final').html(app.company.get('totalBillStatement')).dialog('open');
            }
          }]
        });    

        $('#final').dialog({
          autoOpen: false,
          modal: true,
          width: 400,
          dialogClass: 'no-close',
          buttons: [
          { 
            text: "Okay!", 
            click: function() { 
              $(this).dialog('close');
              $('#award').addClass('disabled').unbind('click').text('Winner Awarded');
            }
          }]
        });   
        $('#payDialog').dialog("open");
      });
    })
  </script>

  <div id="payDialog" title="Select the winner!" class='hidden'>
    <p> 80% of the prize will be awarded to the winner, with the rest split evenly.
    </p>
  </div>   

  <div id="hireDialog" title="Full-time Employment" class='hidden'>
    <p> Do you would want to hire Barret full-time as a Front-End Engineer?
    </p>
  </div>   

  <div id="final" title="Final Bill" class='hidden'>
    <p> Total: $1,000.
    </p>
  </div>   

  <script src="{{ STATIC_URL }}js/dialog.js"></script>

</body>
</html>